@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', Semi Bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.font {
  font-size: 18pt;
  color: #00ccf5;
  text-decoration: underline;
  margin-left: 10px;
}

.font1 {
  font-size: 18pt;
  color: #4d4f50;
  margin-left: 10px;
}

.font2 {
  font-size: 18pt;
  color: #d5dadc;
  margin-left: 10px;
}

.icon {
  width: 21px;
  height: 21px;
}